
:root {
    --bg: #f4f6f9;
    --card: #ffffff;
    --primary: #2563eb;
    --text: #1f2937;
    --muted: #6b7280;
    --success: #10b981;
    --danger: #ef4444;
    --shadow: 0 10px 30px rgba(0,0,0,0.08);
  }
  

    :root {
      --bg: #ffffff;
      --card: #ca95d8;
      --title: #f3d1a1;
      --muted: #94a3b8;
      --text: #ffffff;
    }
  
  img {
    width: 500px;
    height: auto;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
  }
  
  body {
    background: var(--bg);
    color: var(--text);
      }

   #title {
    color: var(--title);
   }   
  
  nav {
    background: var(--card);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--text);
    margin-left: 20px;
    font-weight: 500;
  }
  
  nav a:hover {
    color: var(--primary);
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin-left: 70px;
    margin-top: 50px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: var(--muted);
    max-width: 600px;
  }
  
  .section {
    padding: 60px 40px 80px 40px;
    max-width: 1100px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  .section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
  }

  .fluxo {
    margin: 30px;
    display: flex;
    justify-content: space-around;
  }


  
  .grid {
    display: grid;
    gap: 30px;
  }

  
  .card {
    background: var(--card);
    padding: 25px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    transition: 0.3s ease;
    align-items: center;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .bad {
    border-left: 6px solid var(--danger);
  }
  
  .good {
    border-left: 6px solid var(--success);
  }
  
  .flow {
    display: flex;
    gap: 15px;
  }
  
  .flow div {
    background: var(--primary);
    color: white;
    padding: 12px 18px;
    border-radius: 20px;
    font-size: 0.9rem;
  }
  
  #checklist {
    max-width: 420px;
    width: 100%;
    padding: 20px;
  }

  #checklist p {
    color: var(--muted);
  }
  
  .simulator select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  .result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  footer {
    text-align: center;
    padding: 40px;
    color: var(--muted);
  }
  