body{
    margin: 0;
    padding: 0;
    background-color: yellowgreen;
    text-align: center;
}

header{
    background-color: black;
    color: blue;
}

#p1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: medium;
}

#p2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: large;
}

#p3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
    font-size: xx-large;
}

#p4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
    font-size: x-small;
}

footer{
    background-color: crimson;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: xx-large;
}