
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #ead0f1;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background: linear-gradient(90deg, #d193e8, #ffbc64);
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
}


main {
    flex: 1;
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 28px;
    background: linear-gradient(90deg, #d193e8, #ffbc64);
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(108, 99, 255, 0.4);
}

.btn:hover {
    background-color: #45a049;
}

footer{
    max-width: 1200px;
    margin: 20px auto 0;
    background-color: #45a049;
    border-radius: 6px;
    padding: 25px;
    color: #000;
    border-top: 2px solid ;
}

footer section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
}

footer section h4{
    color: #000;
    margin-bottom: 12px;
    font-size: 15px;
    text-transform: uppercase;
}

footer section ul{
    list-style: none;
}

footer section li{
    margin-bottom: 8px;
}

footer section a{
    color: #002afe;
    transition: all 0.2s;
    display: inline-block;
    padding: 2px 0;
    font-size: 15px;
}

footer section a:hover{
    color: #01188e;
    transform: translateX(3px);
}

.footer-bottom{
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #45a049;
    color: #000;
    font-size: 15px;
}
