body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}
main {
    padding: 20px;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.btn:hover {
    background-color: #45a049;
}

footer{
    max-width: 1200px;
    margin: 20px auto 0;
    background-color: #45a049;
    border-radius: 6px;
    padding: 25px;
    color: #000;
    border-top: 2px solid ;
}

footer section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
}

footer section h4{
    color: #000;
    margin-bottom: 12px;
    font-size: 15px;
    text-transform: uppercase;
}

footer section ul{
    list-style: none;
}

footer section li{
    margin-bottom: 8px;
}

footer section a{
    color: #002afe;
    transition: all 0.2s;
    display: inline-block;
    padding: 2px 0;
    font-size: 15px;
}

footer section a:hover{
    color: #01188e;
    transform: translateX(3px);
}

.footer-bottom{
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #45a049;
    color: #000;
    font-size: 15px;
}