
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #ead0f1;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background: linear-gradient(90deg, #d193e8, #ffbc64);
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
}


main {
    flex: 1;
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
}


section {
    background:#c0a7c8 ;
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}



h2 {
    margin-bottom: 15px;
    color: #fed8a6;
    font-weight: 600;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}


section strong {
    color: #fed8a6;
    font-weight: 700;
    font-size: 1.1rem;
}


.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 28px;
    background: linear-gradient(90deg, #d193e8, #ffbc64);
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(108, 99, 255, 0.4);
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(242, 216, 248, 0.6);
}

